<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>DISPOSITIVO ESTACIONAMIENTO</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="../../css/styles.css" rel="stylesheet" />
</head>

<body>
<div class="wrapper">
	<!-- Page Content-->
	<section class="pt-4 content">
		<div class="container px-lg-5">
			<!-- Page Features-->
			<div class="row gx-lg-5">
				<h1>Dar de baja un dispositivo de ESTACIONAMIENTO</h1>
				<ul>
					<li th:each="dispositivo : ${dispositivos}" th:if="${dispositivo.isBaja == false}">
                        
						<a href="#" th:onclick="'javascript:confirmarEliminacion(' + ${dispositivo.idDispositivo} + ')'">
							
                            <span th:text="${dispositivo.nombreDispositivo}"></span>
                            </a>}
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>



	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script><!-- Script -->
<script th:inline="javascript">
    function confirmarEliminacion(deviceId) {
        if (confirm('¿Estás seguro de que deseas dar de baja este dispositivo?')) {
            fetch('/dispositivo/estacionamiento/eliminar/' + deviceId, { method: 'GET' })
                .then(function(response) {
                    window.location.href = '/dispositivo/estacionamiento';
                })
                .catch(function(error) {
                    console.error(error);
                });
        }
    }
</script>
</body>

</html>
