<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>NO EXISTE NINGÚN DISPOSITIVO</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="../../css/styles.css" rel="stylesheet" />
</head>

<body>
	<div class="wrapper">
		<!-- Responsive navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container px-lg-5">
				<a class="navbar-brand" th:href="@{/index}">Inicio</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/dispositivo/estacionamiento}">Volver a opciones</a></li>
					</ul>
						<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Header-->

		<!-- Page Content-->
		<section class="pt-4 content">
			<div class="container px-lg-5">
				<!-- Page Features-->
				<div class="row gx-lg-5">
					<h1>NO EXISTE NINGÚN DISPOSITIVO</h1>
				</div>
			</div>
		</section>

	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>

</html>