<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Administrar dispositivos</title>
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css" />
</head>

<body>
	<div class="container-fluid text-center">
		<div>
			<h2>Administrar dispositivos</h2>
		</div>
		<div class="m-2">
			<a class="h3" th:href="@{/dispositivo/nuevo}">Agregar nuevo dispositivo</a>
		</div>

		<div th:if="${message}" class="alert alert-success text-center">
			[[${message}]]
		</div>

		<div>
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Fecha de creación</th>
						<th>Fecha de modificación</th>
						<th>¿Esta activo?</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="dispositivo : ${dispositivos}">
							<td th:text="${dispositivo.idDispositivo}"></td>
							<td th:text="${dispositivo.nombreDispositivo}"></td>
							<td th:text="${dispositivo.fechaCreacion}"></td>
							<td th:text="${dispositivo.fechaModificacion}"></td>
							<td th:text="${dispositivo.estaActivo}"></td>
							<a class="h4 mr-3" th:href="@{'/dispositivo/editar/' + ${dispositivo.idDispositivo}}">Editar</a>
							<a class="h4" th:href="@{'/dispositivo/eliminar/' + ${dispositivo.idDispositivo}}">Eliminar</a>
							</td>
					</th:block>

				</tbody>
			</table>

		</div>
	</div>
</body>

</html>