<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>DISPOSITIVO DE ALUMBRADO INTELIGENTE</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="../../../../css/styles.css" rel="stylesheet" />
</head>

<body>
	<div class="wrapper">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container px-5">
				<a class="navbar-brand" th:href="@{/index}">UNLa - GRUPO 18</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="/index">INICIO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/dispositivo/alumbrado/lista}">VOLVER ATRÁS</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Page Content-->
		<section class="pt-4 content">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<h2 class="text-center"
							th:text="'Lista de eventos del dispositivo: ' + ${dispositivoAlumbrado.nombreDispositivo}">
						</h2>
						<div class="row justify-content-center mt-4">
							<div class="col-lg-6">
								<!-- Barra de búsqueda por descripción -->
								<form
									th:action="@{/dispositivo/alumbrado/eventos/{id}/buscar(id=${dispositivoAlumbrado.idDispositivo})}"
									method="post">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Buscar por descripción"
											name="descripcionEvento" />
										<button class="btn btn-primary" type="submit">Buscar</button>
									</div>
								</form>
							</div>
							<div class="col-lg-6">
								<!-- Barra de búsqueda por fecha de métrica -->
								<form
									th:action="@{/dispositivo/alumbrado/eventos/{id}/buscarPorFecha(id=${dispositivoAlumbrado.idDispositivo})}"
									method="get">
									<div class="input-group">
										<input type="text" class="form-control"
											placeholder="Buscar por fecha de detección" name="fechaDeteccion"
											id="fechaDeteccion" />
										<button class="btn btn-primary" type="submit">Buscar</button>
									</div>
								</form>
							</div>
						</div>

<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID del evento</th>
                    <th>Descripción</th>
                    <th>Día</th>
                    <th>Hora</th>
                    <th>Métrica Asociada</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itera sobre los eventos y muestra cada uno en una fila -->
                <tr th:each="evento : ${eventos}">
                    <td th:text="${evento.idEvento}"></td>
                    <td th:text="${evento.descripcionEvento}"></td>
                    <td th:text="${evento.metrica.fechaDeteccion}"></td>
                    <td th:text="${evento.metrica.horaDeteccion}"></td>
                    <td th:text="${evento.metrica.idMetrica}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center mt-4">
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <span th:text="${error}"></span>
        </div>
    </div>
</div>
					</div>
		</section>
	</div>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
	<!-- INICIA EL SELECTOR DE FECHA -->
	<script>
		flatpickr("#fechaDeteccion", {
			dateFormat: "Y-m-d"
		});
	</script>
</body>

</html>