<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>DISPOSITIVO DE ALUMBRADO INTELIGENTE</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="../../css/styles.css" rel="stylesheet" />
</head>
  <style>
    .device-info {
      text-align: center;
    }

    .device-info h1 {
      margin-bottom: 20px;
    }

    .device-info p {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .back-button {
      text-align: center;
      margin-top: 20px;
    }
  </style>
<body>
	<div class="wrapper">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container px-5">
				<a class="navbar-brand" th:href="@{/index}">UNLa - GRUPO 18</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="/index">INICIO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:history.back()">VOLVER ATRÁS</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container pt-4">
			<div class="device-info">
				<h1>Datos del dispositivo</h1>
				<p><strong>Nombre:</strong> <span th:text="${dispositivoAlumbrado.nombreDispositivo}" /></p>
				<p><strong>Edificio:</strong> <span th:text="${dispositivoAlumbrado.edificio.nombre}" /></p>
				<p><strong>Aula:</strong> <span th:text="${dispositivoAlumbrado.aula.numero}" /></p>
				<p><strong>Hora de encendido:</strong> <span th:text="${dispositivoAlumbrado.horadeEncendido}" /></p>
				<p><strong>Hora de apagado:</strong> <span th:text="${dispositivoAlumbrado.horadeApagado}" /></p>
			</div>
			
		<!-- Botón para volver a opciones -->
		<div class="text-center mt-4">
			<a class="btn btn-primary" th:href="@{/dispositivo/alumbrado}">Volver a opciones</a>
		</div>
	</div>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>

</html>