<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DISPOSITIVO DE CUIDADO DE ESPACIO VERDE</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../../../css/styles.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" th:href="@{/index}">UNLa - GRUPO 18</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:history.back()">VOLVER ATRÁS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <section class="pt-4 content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <!--h2 class="text-center" th:text="'Lista de eventos del dispositivo: ' + ${dispositivoRegador.nombreDispositivo}"></h2-->
                        <!-- Barra de búsqueda -->
                        <div class="d-flex justify-content-center mt-4">
                            <form th:action="@{/dispositivo/regador/eventos/{id}/buscar(id=${dispositivoRegador.idDispositivo})}" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Buscar por descripción" name="descripcionEvento" />
                                    <button class="btn btn-primary" type="submit">Buscar</button>
                                </div>
                            </form>
                        </div>
                    
                        
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-lg-8">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Descripción</th>
                                        <th>Fecha y Hora</th>
                                        <th>Métrica Asociada</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Itera sobre los eventos y muestra cada uno en una fila -->
                                    <tr th:each="evento : ${eventos}">
                                        <td th:text="${evento.descripcionEvento}"></td>
                                        <td th:text="${evento.fechahoraEvento}"></td> 
                                        <td th:text="${evento.metrica.idMetrica}"></td>              
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>