<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>DISPOSITIVO DE CUIDADO DE ESAPCIO VERDE</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="../../css/styles.css" rel="stylesheet" />
</head>

<body>
	<div class="wrapper">
		<!-- Page Content-->
		<section class="pt-4 content">
			<div class="container px-lg-5">
				<!-- Page Features-->
				<div class="row gx-lg-5">
					<h1>Listado de dispositivos de Regador</h1>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nombre</th>
									<th>Edificio</th>
									<!--th>Aula</th-->
									<th>Estado</th>
									<th class="col-md-3">Acciones</th>
									<!-- Columna para los botones -->
								</tr>
							</thead>
							<tbody>
								<!-- Itera sobre los dispositivos y muestra cada uno en una fila -->
								<tr th:each="dispositivo : ${dispositivos}">
									<td th:text="${dispositivo.idDispositivo}"></td>
									<td th:text="${dispositivo.nombreDispositivo}"></td>
									<td th:text="${dispositivo.edificio.nombre}"></td>
									<td th:text="${dispositivo.estaPrendido}"></td>
									<!--td th:text="${dispositivo.aula.numero}"></td-->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<!-- Bootstrap core JS-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
		<!-- Core theme JS-->
		<script src="js/scripts.js"></script>
</body>

</html>