<!--
<style>
    .error-message {
        background-color: #ffcccc;
        color: #ff0000;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>
-->
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	<li class="nav-item">
		<a class="nav-link" th:href="@{/}">Volver al INICIO</a>
	</li>
</ul>

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	<li class="nav-item">
		<a class="nav-link" th:href="@{/dispositivo/acondicionar}">Volver a opciones</a>
	</li>
</ul>

<!--
<div class="error-message">
    <p>Error: Validation failed. The value must be greater than or equal to 20.</p>
    <p>
		Nombre: <span th:text="${error-message.ex}" />
	</p>
</div>
-->



