<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Alta de dispositivo de ACONDICIONAR AMBIENTE</title>
	<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
	<link href="../../../css/styles.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		.wrapper {
			margin-top: 30px;
		}

		.content {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		h1 {
			margin-bottom: 20px;
		}

		form {
			margin-bottom: 20px;
		}

		form p {
			margin-bottom: 10px;
		}

		.error-message {
			color: red;
			font-style: italic;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-5">
			<a class="navbar-brand" th:href="@{/index}">UNLa - GRUPO 18</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/index">INICIO</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="javascript:history.back()">VOLVER ATRÁS</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="wrapper">
		<section class="pt-4 content">
			<div class="container px-lg-5">
				<div class="row gx-lg-5">
					<h1>Formulario de Alta</h1>

					<form th:action="@{nuevoDispositivoAcondicionar}" th:object="${dispositivoAmbiente}" method="post">
						<p>
							Nombre: <input type="text" id="nombre" th:field="*{nombreDispositivo}" />
						</p>

						<p>
							Activar Frio cuando la temperatura supere los: <input type="text" id="frio" th:field="*{temperaturaActivarFrio}" pattern="[0-9.]+" required />
						</p>
						<p class="error-message" th:if="${#fields.hasErrors('temperaturaActivarFrio')}" th:errors="*{temperaturaActivarFrio}"></p>

						<p>
							Activar Calor cuando la temperatura sea menor a: <input type="text" id="calor" th:field="*{temperaturaActivarCalor}" pattern="[0-9.]+" required />
						</p>
						<p class="error-message" th:if="${#fields.hasErrors('temperaturaActivarCalor')}" th:errors="*{temperaturaActivarCalor}"></p>

						<label for="edificioId">Edificio:</label>
						<select id="edificioId" name="edificio.id" th:onchange="cargarAulas()" required>
							<option value="">Seleccionar Edificio</option>
							<option th:each="edificio : ${edificios}" th:value="${edificio.id}" th:text="${edificio.nombre}"></option>
						</select>

						<label for="aulaId">Seleccionar Aula:</label>
						<select id="aulaId" name="aulaId">
							<option value="">Seleccionar Aula</option>
							<option th:each="aula : ${aulas}" th:value="${aula.idAula}" th:text="${aula.numero}"></option>
						</select>
						<input type="hidden" id="edificioIdInput" name="edificioId" />
						<input type="submit" id="btnSubmit" value="Guardar" />
					</form>
				</div>
			</div>
		</section>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

		<script>
			function cargarAulas() {
				var edificioId = document.getElementById("edificioId").value;

				if (edificioId !== "") {
					var url = "/dispositivo/acondicionar/cargarAulas?edificioId=" + edificioId;

					fetch(url)
						.then(response => response.json())
						.then(data => {
							var selectAula = document.getElementById("aulaId");
							selectAula.innerHTML = "";

							for (var i = 0; i < data.length; i++) {
								var aula = data[i];
								var option = document.createElement("option");
								option.value = aula.idAula;
								option.text = aula.numero;
								selectAula.appendChild(option);
							}
						})
						.catch(error => console.error("Error:", error));
				}

				var inputEdificioId = document.getElementById("edificioIdInput");
				inputEdificioId.value = edificioId;
			}
		</script>
	</div>
</body>

</html>
