<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>DISPOSITIVO DE ACONDICIONAR AMBIENTE</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="../../../css/styles.css" rel="stylesheet" />
</head>

<body>
	<div class="wrapper">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container px-5">
				<a class="navbar-brand" th:href="@{/index}">UNLa - GRUPO 18</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="/index">INICIO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="javascript:history.back()">VOLVER ATRÁS</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="pt-4 content">
			<div class="container px-lg-5">
				<!-- Page Features-->
				<div class="row gx-lg-5">
					<h1>Listado de Métricas</h1>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Nombre Dispositivo</th>
									<th>Edificio</th>
									<th>Aula</th>
									<th>Sensor de presencia</th>
									<th>Fecha y hora de la métrica</th>
									<th>Temperatura Actual</th>
								</tr>
							</thead>
							<tbody>
								<!-- Itera sobre las métricas y muestra cada una en una fila -->
								<tr th:each="metrica : ${metricaDispositivoAcondicionarAmbiente}">
									<td th:text="${metrica.dispositivo.nombreDispositivo}"></td>
									<td th:text="${metrica.dispositivo.edificio.nombre}"></td>
									<td th:text="${metrica.sensorPresencia}"></td>
									<td th:text="${metrica.fechaHoraMetrica}"></td>
									<td th:text="${metrica.temperaturaActual}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<form th:action="@{/dispositivo/acondicionar/actualizar/{id}(id=${dispositivoAcondicionarAmbiente.idDispositivo})}" method="post">
						<button type="submit" class="btn btn-primary">Actualizar eventos</button>
					</form>
				</div>
			</div>
		</section>
	</div>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>
</html>